.main_chat
  .main_chat__header
    .main_chat__header__left-box
      .main_chat__header__left-box__current-group
        = @group.name
      .main_chat__header__left-box__member-list
        = "Member :"
        - @group.group_users.each do |username|
          = username.user.name
    .main_chat__header__edit-btn
      = link_to edit_group_path(@group) do
        %botton edit
  .messages
    = render @messages
  
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'
          
